<app-horloge/>
<nav class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      
      <!-- Logo -->
      <div class="flex items-center">
        <a href="#" class="text-2xl font-bold text-indigo-600">CDA Douai</a>
      </div>

      <!-- Menu -->
      <div class="flex items-center space-x-8">
        <a href="#" class="text-gray-700 hover:text-indigo-600 transition">Accueil</a>
      </div>

      <!-- Bouton -->
      <div>
        <a href="#" class="px-5 py-2 bg-indigo-600 text-white rounded-lg shadow hover:bg-indigo-700 transition ">
          Connexion
        </a>
      </div>

    </div>
  </div>
</nav>
